body {
    font-family: Arial, sans-serif;
    background-color: teal; /* Cor de fundo */
}

h1 {
    color: #343a40;
}

.table {
    background-color: #ffffff;
    border-radius: 0.5rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.nav-link {
    color: #fff;
    background-color: #000;
}

.nav-link.active {
    background-color: #555;
}

.nav-link:hover {
    background-color: #444;
}

.table {
    margin-top: 20px;
}
